<h2><%= @application.first_name %> <%= @application.last_name%> Application</h2>
<p>Address: <%= @application.address %> </p>
<p>City: <%= @application.city %> </p>
<p>State: <%= @application.state %> </p>
<p>Zipcode: <%= @application.zip %> </p>
<p>I make a good pet home because:<br>
  <%= @application.adoption_reason %> </p>

<% if @application.has_pets? == true %>
  <section class="pets-to-adopt" id="pets_to_adopt">
    <h3>The pets I wish to give forever homes to: </h3>
    <% @application.pets.each do |pet| %>
      <ul><%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= image_tag pet.image %></ul>
    <% end %>
  </section>
<% end %>

<h3>Status:
  <% if @application.status == "in_progress" %>
    <%= "In Progress" %>
  <% else %>
    <%= @application.status.capitalize %>
  <% end %>
</h3>

<%= render partial: 'submit_application',
  locals: { url: application_submit_path,
  button_text: "Submit Application"
  } if @application.has_pets? == true && @application.status == "in_progress" %>

<section id="pets" class="application-pets">
  <%= render partial: "search",
      locals: { section_header: "Search for the pet(s) you wish to adopt",
      url: applications_show_path,
      button_text: "Find My Pet(s)"
      } if @application.status == "in_progress" %>
  <%= render partial: "search_results",
      locals: { pets: Pet.search_by_name(params[:query]),
      application: @application
      } if params[:query] %>
</section>
