<h2><%= @application.first_name %> <%= @application.last_name%> Application</h2>
<h3>Status:
<%= @application.in_progress? ? "In Progress" : @application.status.capitalize %>
</h3>
Address:<br>
<%= @application.address %><br>
<%= @application.city %>,
<%= @application.state %>
<%= @application.zip %><br>
<% if !@application.in_progress? %>
  <p><%= "I make a good pet home because:" %><br>
  <%= @application.adoption_reason %> </p>
<% end %>

<%= render partial: "application_pets" if @application.has_pets? %>

<%= render partial: 'submit_application' if (@application.has_pets?) &&
    (@application.in_progress?) %>

<section id="pets" class="application-pets">
  <%= render partial: "search" if @application.in_progress? %>
  <%= render partial: "search_results",
      locals: { pets: Pet.search_by_name(params[:query]),
      application: @application
      } if params[:query] %>
</section>
